
export(get_parameters)
importFrom(Rcpp,sourceCpp)
importFrom(data.table,.SD)
importFrom(data.table,as.data.table)
importFrom(data.table,setnames)
importFrom(individual,Bitset)
importFrom(individual,CategoricalVariable)
importFrom(individual,DoubleVariable)
importFrom(individual,IntegerVariable)
importFrom(individual,Render)
importFrom(individual,TargetedEvent)
importFrom(stats,approx)
importFrom(stats,dexp)
importFrom(stats,pexp)
importFrom(stats,rgamma)
importFrom(stats,rgeom)
importFrom(stats,rmultinom)
importFrom(stats,rnorm)
importFrom(stats,setNames)
importFrom(utils,getFromNamespace)
importFrom(utils,head)
importFrom(utils,setTxtProgressBar)
importFrom(utils,tail)
importFrom(utils,txtProgressBar)
useDynLib(safir3)
